<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Add Book</h4>
                      <p class="card-category">Book</p>
                  </div>
                  <div class="card-body">
                      <form  [formGroup]="bookForm" (ngSubmit)="onSubmit()">
                          
                        <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Titre" formControlName="name" type="text" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Prix" formControlName="price" type="text" required>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Description" formControlName="description" type="text" required>
                                </mat-form-field>
                              </div>
                          </div>
                        
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Add</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <!-- <div class="col-md-4">
        
          </div> -->
      </div>
  </div>
</div>
